/* Universal Styles */
body {
    margin: 0;
    font-family: "Verdana", sans-serif;
    background-color: black;
    text-align: center;
  }
  /* Header Section */
    .header {
        font-weight: normal;
        font-size: 50px;
        color:white;
    }
    .downlink {
        font-size: 16px;
        color:aquamarine;
        text-decoration: underline;
    }
    .message {
        font-size: 21px;
        color: gray;
    }
    .main {
        font-size: 42px;
        font-weight: 300;
        color: white;
    }
    footer {
        font-size: 21px;
        color: gray;
        text-align: right;
    }

  /* Main Section */
